/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.aligncenter {
  display: block;
  margin: 0 auto 15px; }

a:focus {
  outline: 0 solid; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 300;
  color: #000000; }

body {
  color: #545051;
  font-weight: 300;
  font-family: 'PT Sans', sans-serif; }

.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

a:hover {
  text-decoration: none; }

/*=========================
  Header-top START
===========================*/
.main-heder .logo {
  width: 15%;
  float: left;
  background: #ffa101;
  text-align: center;
  height: 100px;
  padding: 17px 15px; }
.main-heder .search-here {
  display: block;
  width: 9.54%;
  float: left;
  background: #fcf0da;
  padding: 38px;
  text-transform: uppercase;
  color: #000; }
.main-heder .search-form {
  display: none;
  width: 21%; }
.main-heder .hide-search-here {
  display: none; }
.main-heder .search-form.show {
  display: block;
  float: left;
  margin: 34px auto;
  border-bottom: 2px solid #005bb8;
  color: #005bb8;
  max-width: 218px;
  position: relative; }
  .main-heder .search-form.show i.fa-times {
    position: absolute;
    top: -27px;
    right: 0;
    z-index: 5;
    cursor: pointer; }
  .main-heder .search-form.show input {
    height: 30px;
    float: left;
    border: none;
    background: none; }
  .main-heder .search-form.show button {
    float: left;
    border: none;
    background: none;
    color: #005bb8;
    cursor: pointer; }
.main-heder .main-menu {
  float: left;
  width: 75.46%;
  background: #f2c26e; }
  .main-heder .main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .main-heder .main-menu ul#main-menu > li {
    float: left;
    position: relative; }
    .main-heder .main-menu ul#main-menu > li:hover > ul {
      opacity: 1;
      z-index: 999; }
    .main-heder .main-menu ul#main-menu > li > a {
      color: #000;
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      padding: 38px 35.9px; }
      .main-heder .main-menu ul#main-menu > li > a:hover {
        background: #fff; }
    .main-heder .main-menu ul#main-menu > li > a.active {
      position: relative; }
      .main-heder .main-menu ul#main-menu > li > a.active:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 10px;
        background: #ffffff;
        left: 0;
        bottom: 0; }
    .main-heder .main-menu ul#main-menu > li > ul {
      position: absolute;
      background: #ffffff;
      width: 325px;
      padding: 15px 0;
      opacity: 0;
      z-index: -1; }
      .main-heder .main-menu ul#main-menu > li > ul > li:hover > ul {
        opacity: 1;
        z-index: 999; }
      .main-heder .main-menu ul#main-menu > li > ul > li > a {
        display: block;
        padding: 6px 20px;
        color: #000;
        -webkit-transition: .3s;
        transition: .3s; }
        .main-heder .main-menu ul#main-menu > li > ul > li > a i {
          font-size: 25px;
          float: right; }
        .main-heder .main-menu ul#main-menu > li > ul > li > a:hover {
          background: #eba020;
          color: #fff; }
      .main-heder .main-menu ul#main-menu > li > ul > li > ul {
        position: absolute;
        width: 638px;
        left: 325px;
        top: 0;
        background: #ececec;
        padding: 15px 0;
        opacity: 0;
        z-index: -1; }
        .main-heder .main-menu ul#main-menu > li > ul > li > ul > li {
          float: left;
          width: 50%; }
          .main-heder .main-menu ul#main-menu > li > ul > li > ul > li > a {
            display: block;
            padding: 6px 20px;
            color: #000;
            -webkit-transition: .3s;
            transition: .3s; }
            .main-heder .main-menu ul#main-menu > li > ul > li > ul > li > a:hover {
              background: #eba020;
              color: #fff; }
.main-heder .main-menu.rid-main-menu {
  width: 64%; }
  .main-heder .main-menu.rid-main-menu ul#main-menu > li > a {
    padding: 38px 23.07px; }

.slicknav_menu,
.logo.mobile {
  display: none; }

.logo.mobile {
  display: none;
  position: absolute;
  top: 15px;
  left: 30px;
  background: #FFA100;
  width: 90%;
  z-index: 5; }

.slicknav_menu {
  background: #FFA100;
  min-height: 70px;
  padding: 0 35px; }
  .slicknav_menu ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .slicknav_menu ul ul {
      padding-left: 20px; }

.slicknav_menutxt {
  float: right;
  position: relative;
  top: 10px;
  font-size: 30px;
  color: #000;
  right: 0;
  z-index: 6; }

.slicknav_menu .slicknav_nav {
  padding: 65px 0; }
  .slicknav_menu .slicknav_nav > li > a {
    text-transform: uppercase; }
  .slicknav_menu .slicknav_nav li {
    padding: 5px 0; }
    .slicknav_menu .slicknav_nav li a {
      color: #000; }
  .slicknav_menu .slicknav_nav .slicknav_open {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
    .slicknav_menu .slicknav_nav .slicknav_open a {
      color: #fff; }

.slicknav_arrow {
  font-size: 25px;
  position: relative;
  left: 10px;
  top: 4px;
  line-height: 1; }

.slicknav_menu .slicknav_nav .slicknav_open a {
  font-size: 14px; }

.main-footer {
  background: #ececec; }
  .main-footer .widgets h3 {
    margin: 0;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 35px; }
  .main-footer .widgets ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .main-footer .widgets ul li a {
      font-size: 16px;
      color: #4A4A4A;
      line-height: 1.875; }
  .main-footer .footer-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 30px;
    padding-top: 40px; }
    .main-footer .footer-bottom .item {
      padding: 15px 0;
      text-align: center; }
    .main-footer .footer-bottom h2 {
      margin: 0;
      font-size: 20px;
      color: #000;
      margin-bottom: 30px; }
    .main-footer .footer-bottom p {
      margin-bottom: 5px; }
    .main-footer .footer-bottom .social ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    .main-footer .footer-bottom .social li {
      display: inline-block;
      margin-right: 13px;
      margin-bottom: 25px; }
      .main-footer .footer-bottom .social li:last-child {
        margin-right: 0; }
